



.subpage {background-color: #fff;}
.container {max-width: 1200px;text-align: center;margin: 80px auto;padding: 40px;}
.container .sub_slogan {display: flex;justify-content: space-between;align-items: center;}
.container .sub_slogan>h1 {
    font-size: 40px;
    text-align: center;
    font-weight:700; 
    color:#040303; 

}

.privacy_text_box,
.use_text_box {padding:0; margin:0;color: #333;text-align: left;}

.privacy_fin,
.use_fin {font-size:16px; line-height:26px;}

.privacy_fin h2,
.use_fin h2 {font-size:18px; line-height:26px; font-weight:600; letter-spacing:-1px; margin:60px 0 20px;}

.privacy_fin table{width:100%; max-width:1200px; border:solid 1px #ccc;  border-right:none; margin-top:20px;table-layout: fixed;}
.privacy_fin th{background-color:#eee; font-size:16px;  font-weight:600; padding:10px 0; border-right:solid 1px #ccc;}
.privacy_fin td{font-size:15px;  font-weight:500; padding:10px; border-right:solid 1px #ccc;word-break: break-all;text-align: center;}


.privacy_fin p,
.use_fin p {margin:10px 0 10px 20px;}

.privacy_text_box>div>div {display: none;}
.privacy_text_box>div>div.active {display: block;}




@media (max-width: 765px) {
    .container .sub_slogan {flex-direction: column;row-gap: 20px;}
    .container {padding: 20px;}
    .container .sub_slogan>h1 {font-size: 30px;}
}

